body {
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
    letter-spacing: 0.02em;
    margin: 0;
}
ul {
    list-style: none;
    padding: 0; 
    margin: 0;
}
p {
    margin: 0;
} 
h1 {
    margin: 0;
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    width: 496px;
    text-align: center;
    }
/* Шапка стр. */
.header {
    padding: 24px 0;
    border-bottom: 1px solid #E7E9FC;
}
.container{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1158px; 
    padding-left: 15px;
    padding-right: 15px;  
 } 
.header-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1158px;  
    /* padding-left: 15px;
    padding-right: 15px;  */
    justify-content: space-between;
    
    /* border-bottom: 1px solid #E7E9FC; */
   }
.header-logo {
    display: flex;
    align-items: center;
}
.logo{
    margin-right: 76px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #2E2F42;

}
.web{
    color: #4D5AE5;
}
.menu {
    display: flex;  
    /* padding: 8px 20px; */
}
.menu-j{
    margin-right: 40px; 
}
.menu-j:last-child{
    margin-right: 0;
}
.menu-job {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2E2F42;
    /* padding: 0 20px;  */
}
.menu-job:hover {
    /* font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5; */
    color: #404BBF;
}
/* .menu:focus {
    color: #4D5AE5;
} */
.address{
    display: flex;
    /* justify-content: flex-end; */
    /* padding: 8px 36px;  */
}
.adress-menu {
    margin-right: auto;
    margin-left: 40px;
    
    padding: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}
.address-m:last-child{
    margin-left: 0;
}
.adress-menu:hover {
    color: #404BBF;
}
/* Герой */
.hero {
    background-color:  #2E2F42;
    padding: 188px 0 188px;
}
.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service {
    cursor: pointer;
    background-color: #4D5AE5;
    color: #FFFFFF;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5; 
    text-align: center;
    display: flex;
/* flex-direction: row;
align-items: flex-start;*/
margin-top: 48px;
padding: 16px 32px;
/* gap: 10px; */
}
.strategy{
    display: flex;
    justify-content: space-between;
}
.strateg{
    margin: 120px 0 120px 0;   
}

.service:hover {
    background-color: #404BBF;
}
/* Приоритеты */
.h-strategy{
    margin: 0;
    color: #2E2F42;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.our-strategy{
    margin-top: 8px;
    /* padding: 8px 12px 0 0; */
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
}
.strategy-h{
    margin-right: 24px;
    width:calc((100%-3*24px)/3) ;
}
.strategy-h:last-child{
    margin-right: 0;
}
/* наши работы */
.container-job{
    display: flex;
    margin-bottom: 120px;
    justify-content: center;
} 
.job{
    display: flex;
}
 .our-job {
    
    margin-bottom: 70px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
} 
.job-our{
    /* display: flex; */
    background: #FFFFFF;  
    border: 1px solid #E7E9FC; 
    border-width: 0 1px 1px 1px; 
    /* gap: 24px; */
    margin-right: 24px;
    margin-bottom: 48px;
}
.job-our:nth-child(3n){
    margin-right: 0;
}
.job-our:nth-child(n + 7){
    margin-bottom: 0;
}
img{
    border: 1px solid #FFFFFF;; 
}
.job-secion{
    display: flex;
    /* margin-left: 24px; */
}
.job-secion:last-child{
    margin-right: 0;
}
/* Команда */
h2 {
    margin: 0;
}
.our-team {
    margin: 0 0 72px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    height: 120px 639px 72px 639px;
}
.team-our{
    
    background-color: #F4F4FD;
    padding: 120px 0;
} 
.produkt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 24px;

    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.produkt:last-child{
    margin-right: 0;
}
.job-secion{
    margin-right: 24px;
}
.container-produkt{
    display: flex;
    justify-content: center;
}
.container-team{
    padding: 32px 16px;
    
}
.job-portfolio{
    margin: 32px 0;
    margin-left: 16px;
  }
.team,
.job {
     margin: 0;
    color: #2E2F42;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.team-produkt,
.app{
    margin-top: 8px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
}
/* Подвал стр. */
.footer{
    background-color: #2E2F42;
    height: 310px;
    padding-top: 100px;
    
}  

.logo-footer{
    /* margin-top: 100px; */
    /* margin-left: 156px; */
    margin-bottom: 16px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    color: #F4F4FD;
}
.logo-f{
    /* width: 264px;  */
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 1158px;  
    /* padding-left: 15px;
    padding-right: 15px;  */
    justify-content: space-between;
}
.footer-logo { 
    color: #E7E9FC; 
    height: 72px;
    width: 264px; 
}
/* Кнопки */
 .container-button {
    display: flex;
    justify-content: center;
 } 
  .container-button{
    display: flex;
   margin-bottom: 120px;
   margin-top: 96px;
   flex-direction: column;
   align-items: center;
} 
.button{
    display: flex;
    gap: 24px; 
    margin-bottom: 72px;
}
.button-job {
    /* margin: 96px 24px 72px 0; */
     padding: 12px 24px; 
    /* width: 126px;
    height: 48px; */
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    background-color: #F4F4FD;
    color: #4D5AE5;
    /* flex-direction: row;
justify-content: center;
align-items: center; */
     /* display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 32px;
gap: 10px;
position: absolute;
width: 169px;
height: 56px;
left: 636px;
top: 428px;  */
}
.button-nav{
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /* padding: 12px 24px; */
}
.button-job:hover, 
.button-job:focus {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #404BBF;
    color: #ffffff;
}
/* Наши работы */

 .container-job{
    display: flex;
    width: 1158px;
}   
 .our-portfolio{
    display: flex;
     flex-wrap: wrap; 
    }
.img{
    display: block;
    max-width: 100%;
    height: auto;
}
.job-p{
     display: flex;
    flex-wrap: wrap;  
    /* column-gap: 24px;
    row-gap: 48px; */
} 
.job-p{
    /* border: 1px solid #E7E9FC; 
    border-width: 0 1px 1px 1px; */
}
.container-produkt{
    display: flex;
    justify-content: center;
}