body {
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
    letter-spacing: 0.02em;
}
ul {
    list-style: none;
    padding: 0; 
}
/* p {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
} */
h1 {
    /* margin: 188px 472px 292px 472px; */
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    width: 496px;
    text-align: center;
    }
/* .h-strategy,
.punctuality,
.diligence,
.technologies {
    color: #2E2F42;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
} */
/* Шапка стр. */
.container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    /* height: 72px; */
    width: 1158px; 
   }
.header-logo {
    display: flex;
}
.logo{
    margin: 24px 56px 24px 0;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #2E2F42;
}
.web{
    color: #4D5AE5;
}
.menu {
    display: flex; 
    padding: 8px 20px;
}
.menu-job {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2E2F42;
    margin: 0 40px; 
}
.menu-job:hover {
    /* font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5; */
    color: #404BBF;
}
/* .menu:focus {
    color: #4D5AE5;
} */
.address{
    display: flex;
    padding: 8px 36px;
}
.adress-menu {
    margin-right: auto;
    margin: 24px 0 24px 26px;
    padding: 8px 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}
.adress-menu:hover {
    color: #404BBF;
}
/* Герой */
.hero {
    background-color:  #2E2F42;
    padding: 188px 0 204px;
}
.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service {
    cursor: pointer;
    background-color: #4D5AE5;
    color: #FFFFFF;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5; 
    text-align: center;
    display: flex;
/* flex-direction: row;
align-items: flex-start;*/
padding: 16px 32px;
gap: 10px;
/*
position: absolute;
width: 169px;
height: 56px;
left: 636px;
top: 428px;  */
}
.strategy{
    display: flex;
    margin: 120px 0 120px 0;
    /* padding: 0; */
}
.service:hover {
    background-color: #404BBF;
}
/* .service:focus {
    background-color: #404BBF;
    color: #000000;
} */
/* Приоритеты */
.h-strategy{
    color: #2E2F42;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.our-strategy{
    padding: 8px 12px 0 0;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
}
/* наши работы */
 .our-job {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
} 
.job-our{
    background: #FFFFFF;  
    border: 1px solid #E7E9FC;
    gap: 24px;
}
.job-secion{
    display: flex;
    margin-left: 24p;
}
/* Команда */
h2 {
    margin: 0;
}
.our-team {
    padding: 0 0 72px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    height: 120px 639px 72px 639px;
}
.team-our{
    background-color: #F4F4FD;
    padding: 120px 144px;
} 
.produkt {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* padding: 0px 0px 32px; */
margin: 12px 12px 32px;
/* gap: 32px; */
/* position: absolute;
width: 264px;
height: 380px;
left: 156px;
top: 1780px; */
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.job-secion{
    margin-right: 24px;
}
.team,
.job {
    margin: 32px 0 4px 16px;
    color: #2E2F42;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.team-produkt,
.app{
    margin: 4px 0 32px 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
}
/* Подвал стр. */
.footer{
    background-color: #2E2F42;
    height: 310px;
}  
.footer{
    padding-top: 100px;
    padding-bottom: 16px;
}
.logo-footer{
    margin-top: 100px;
    margin-left: 156px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    color: #F4F4FD;
}
.footer-logo { 
    color: #E7E9FC; 
    height: 72px;
    width: 264px;
    margin-left: 156px;
    margin-bottom: 100px;
}
/* Кнопки */
.button {
    display: flex;
    
} 
.container-button{
    display: flex;
    justify-content: center;

}
.button-job {
    margin: 96px 24px 72px 0;
    padding: 12px 24px;
    width: 126px;
    height: 48px;
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    background-color: #F4F4FD;
    color: #4D5AE5;
     /* display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 32px;
gap: 10px;
position: absolute;
width: 169px;
height: 56px;
left: 636px;
top: 428px;  */
}
.button-job:hover, 
.button-job:focus {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #404BBF;
    color: #ffffff;
}
/* Наши работы */
.our-portfolio{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
   
}
